{% extends 'base.html.twig' %}

{% block title %}Step index{% endblock %}

{% block body %}
    <h1>Step index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for step in steps %}
            <tr>
                <td>{{ step.id }}</td>
                <td>{{ step.number ? 'Yes' : 'No' }}</td>
                <td>{{ step.content }}</td>
                <td>
                    <a href="{{ path('step_show', {'id': step.id}) }}">show</a>
                    <a href="{{ path('step_edit', {'id': step.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('step_new') }}">Create new</a>
{% endblock %}
