{% extends 'base.html.twig' %}

{% block title %}Step{% endblock %}

{% block body %}
    <h1>Step</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ step.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ step.number ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ step.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('step_index') }}">back to list</a>

    <a href="{{ path('step_edit', {'id': step.id}) }}">edit</a>

    {{ include('step/_delete_form.html.twig') }}
{% endblock %}
