{% extends 'base.html.twig' %}

{% block title %}IngredientCategory{% endblock %}

{% block body %}
    <h1>IngredientCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ingredient_category.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ ingredient_category.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ingredient_category_index') }}">back to list</a>

    <a href="{{ path('ingredient_category_edit', {'id': ingredient_category.id}) }}">edit</a>

    {{ include('ingredient_category/_delete_form.html.twig') }}
{% endblock %}
