<a href="{{ path('recipe_show', {'id': recipe.id}) }}">
    {% for picture in recipe.pictures %}
        <div class="card m-3">
            <div class="card-img">
                <img src="{{ asset('uploads/' ~ picture.filename) }}" class="card-img-top" alt="{{ recipe.title }}">
            </div>
            <div class="card-body">
                <h6 class="card-title">{{ recipe.title }}</h6>
                <p class="card-text">{{ recipe.category.label }}</p>
            </div>
        </div>
    {% endfor %}
</a>
