<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Courses{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="container">
    {% block header %}

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#">
                        <img class="img-header" src="../public/images/logo.png" alt="">
                    </a>
                    <a class="nav-item nav-link" href="{{ path('homepage') }}">Home</a>
                    <a class="nav-item nav-link" href="{{ path('recipe_index') }}">Recettes</a>
                    {% if app.user %}
                    <a class="nav-item nav-link" href="{{ path('user_show') }}">Mon compte</a>
                    <a class="nav-item nav-link" href="#">Mes menus</a>
                    <a class="nav-item nav-link" href="#">Contact</a>
                    <a class="nav-item nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                    {% else %}
                    <a class="nav-item nav-link" href="{{ path('app_login') }}">Se connecter</a>
                    <a class="nav-item nav-link" href="#">Contact</a>
                    {% endif %}
                    {#{% if app.user %}#}
                        {#<a class="dropdown-item" href="{{ path('app_logout') }}">#}
                            {#<i class="fa fa-sign-out"></i>#}
                            {#Se déconnecter#}
                        {#</a>#}
                    {#{% else %}#}
                        {#<a class="dropdown-item" href="{{ path('app_login') }}">#}
                            {#<i class="fa fa-sign-in"></i>#}
                            {#Se connecter#}
                        {#</a>#}
                        {#<a class="dropdown-item" href="{{ path('user_registration') }}">#}
                            {#<i class="fa fa-user-plus"></i>#}
                            {#Créer un compte#}
                        {#</a>#}
                    {#{% endif %}#}

                </div>
            </div>
        </nav>

    {% endblock %}


    {% block body %}{% endblock %}
    {% block javascripts %}
        <script src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
    </body>
</html>
