<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Courses{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="container-fluid">
    {% block header %}

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <img class="img-header" src="{{ asset('images/logo.png') }}" alt="">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav header-menu d-flex align-items-center h5">
                    <a class="nav-item nav-link mr-5" href="{{ path('recipe_index') }}">Recettes</a>
                    {% if app.user %}
                        <a class="nav-item nav-link mr-5" href="{{ path('user_show') }}">Mon compte</a>
                        <a class="nav-item nav-link mr-5" href="{{ path('menu_index') }}">Mes menus</a>
                        <a class="nav-item nav-link mr-5" href="{{ path('contact') }}">Contact</a>
                        <a class="nav-item nav-link mr-5" href="{{ path('app_logout') }}">Se déconnecter</a>
                        <a class="nav-item nav-link ml-2 user-connect" href="{{ path('user_show') }}">{{ app.user }}</a>
                    {% else %}
                        <a class="nav-item nav-link mr-5" href="{{ path('app_login') }}">Se connecter</a>
                        <a class="nav-item nav-link mr-5" href="{{ path('contact') }}">Contact</a>
                    {% endif %}
                </div>
            </div>
        </nav>

    {% endblock %}
    {% block body %}{% endblock %}
    </body>
    {% block footer %}
    <div class="footer d-flex align-items-center">
        {% if app.user %}
            <a href="{{ path('recipe_index') }}">
                <img class="img-footer" src="{{ asset('images/logofooter.png') }}" alt="">
            </a>
            <h5>Mentions légales</h5>
            <a href="{{ path('user_show') }}">
                <h5>Mon compte</h5>
            </a>
        {% else %}
            <a href="{{ path('recipe_index') }}">
                <img class="img-footer" src="{{ asset('images/logofooter.png') }}" alt="">
            </a>
            <h5>Mentions légales</h5>
        {% endif %}


    </div>
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</html>
