{% extends 'base.html.twig' %}

{% block title %}Menu index{% endblock %}

{% block body %}

    <div class="menu-choice">
        <h3>choix des menus</h3>

    </div>

    <div class="menu">
        {% for menu in menus %}
            <div class=" d-flex flex-column">
                {{ menu.id }}
                {{ menu.starter }}
                {{ menu.mainCourse }}
                {{ menu.starter }}
            </div>
        {% endfor %}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Test</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.id }}</td>
                <td>{{ menu.starter }}</td>
                <td>{{ menu.mainCourse }}</td>
                <td>{{ menu.date ? menu.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('menu_show', {'id': menu.id}) }}">show</a>
                    <a href="{{ path('menu_edit', {'id': menu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('menu_new') }}">Create new</a>
{% endblock %}
