{% extends 'base.html.twig' %}

{% block title %}Menu index{% endblock %}

{% block body %}

    <h1 class="text-center mt-5">Choix des menus</h1>
    <div class="menu-choice">
        <div class="d-flex flex-column">
            <label>Entrée - Plat
            <input type="checkbox" id="test" aria-label="Checkbox for following text input"></label>
            <label>Entrée - Plat - Dessert
            <input type="checkbox" aria-label="Checkbox for following text input"></label>
        </div>
    </div>
        {{ "now"|date("d/m/Y") }}
        {{ "now"|date_modify("+1 day")|date("d/m/Y") }}

    <div class="menu d-flex">

        {% for menu in menus %}
            <div class=" d-flex card mr-1">
                <p><a href="{{ path('recipe_show', {'id': menu.starter.id}) }}">{{ menu.starter }}</a></p>
                <p><a href="{{ path('recipe_show', {'id': menu.mainCourse.id}) }}">{{ menu.mainCourse }}</a></p>
                <p><a href="{{ path('recipe_show', {'id': menu.dessert.id}) }}">{{ menu.dessert }}</a></p>
            </div>
        {% endfor %}
    </div>
        <div class="d-flex flex-column">
            <table>
                <tr>
                    <th>Ingredient</th>
                    <th>Quantité</th>
                    <th>Unité</th>
                </tr>
                {% for menu in menus %}
                    {% for Ingredient in menu.starter.recipeIngredient %}
                        <tr>
                            <td>{{ Ingredient.ingredient.label }}</td>
                            <td>{{ Ingredient.qte | number_format(2,",")}}</td>
                            <td>{% if Ingredient.unit.label is defined and Ingredient.unit.label is not null %}
                                    {{ Ingredient.unit.label }}
                                {% else %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for Ingredient in menu.mainCourse.recipeIngredient %}
                        <tr>
                            <td>{{ Ingredient.ingredient.label }}</td>
                            <td>{{ Ingredient.qte }}</td>
                            <td>{% if Ingredient.unit.label is defined and Ingredient.unit.label is not null %}
                                    {{ Ingredient.unit.label }}
                                {% else %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for Ingredient in menu.dessert.recipeIngredient %}
                        <tr>
                            <td>{{ Ingredient.ingredient.label }}</td>
                            <td>{{ Ingredient.qte }}</td>
                            <td>{% if Ingredient.unit.label is defined and Ingredient.unit.label is not null %}
                                    {{ Ingredient.unit.label }}
                                {% else %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>

    </div>
    <a href="{{ path('menu_new') }}">Create new</a>

    <a href="{{ path('vuecourse') }}" class="btn btn-success">Valider</a>
{% endblock %}
