{% extends 'base.html.twig' %}

{% block title %}Menu index{% endblock %}

{% block body %}

    <div class="menu-choice">
        <h3>choix des menus</h3>
    <div class="d-flex flex-column">
        <label>Entrée - Plat
        <input type="checkbox" aria-label="Checkbox for following text input"></label>
        <label>Entrée - Plat - Dessert
        <input type="checkbox" aria-label="Checkbox for following text input"></label>
    </div>
        {{ "now"|date("d/m/Y") }}
        {{ "now"|date_modify("+1 day")|date("d/m/Y") }}

    </div>

    <div class="menu d-flex">
        {% for menu in menus %}
            <div class=" d-flex flex-column">
                <p>{{ menu.id }}</p>
                <p><a href="{{ path('recipe_show', {'id': menu.starter.id}) }}">{{ menu.starter }}</a></p>
                <p><a href="{{ path('recipe_show', {'id': menu.mainCourse.id}) }}">{{ menu.mainCourse }}</a></p>
                <p><a href="{{ path('recipe_show', {'id': menu.dessert.id}) }}">{{ menu.dessert }}</a></p>
            </div>
        {% endfor %}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Test</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.id }}</td>
                <td>{{ menu.starter }}</td>
                <td>{{ menu.mainCourse }}</td>
                <td>{{ menu.date ? menu.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('menu_show', {'id': menu.id}) }}">show</a>
                    <a href="{{ path('menu_edit', {'id': menu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('menu_new') }}">Create new</a>
{% endblock %}
