{% extends 'base.html.twig' %}

{% block title %}Difficulty index{% endblock %}

{% block body %}
    <h1>Difficulty index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Level</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for difficulty in difficulties %}
            <tr>
                <td>{{ difficulty.id }}</td>
                <td>{{ difficulty.label }}</td>
                <td>{{ difficulty.level ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('difficulty_show', {'id': difficulty.id}) }}">show</a>
                    <a href="{{ path('difficulty_edit', {'id': difficulty.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('difficulty_new') }}">Create new</a>
{% endblock %}
